/* 
    COLORES
Amarillo: #EAC926;
Azul: #03264C;
Celeste: #1259c3;
Gris oscuro: #666;
Gris claro: #ebebeb;
Verde: #39b54a;
 
    Tipografías
Cuerpos de texto: 12px
Titulares (Basado en tu última visita/Ofertas): 24px
Precios: 18px
Descuentos: 16px
Descripciones: 16px
*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
 body{
     font-family: 'Roboto', sans-serif;
     background-color: #ebebeb;
 }
 /* Header Style */
header{
    background-color: #EAC926;
}
.headerTop{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.logo{
    width: 50%;
    padding: 20px;
}
.search-bar{
    display: inline;
    width: 45%;
    border: none;
    height: 30px;
    border-radius: 5px;
}
.text-comprarCuotas{
    text-align: center;
    font-size: 12px;
    padding-bottom: 32px;
}
.listadoLinks{
    list-style: none;
    display: none;
}
.listadoLinks li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}
.infoUsuario{
    padding-top: 20px;
}
.burgerMenu{
    display: flex;
    justify-content: center;
}
.burgerMenu i{
    font-size: 32px;
    color: #fff;
    background-color: #135dac;
    padding: 16px;
    margin-bottom: 20px;
    border-radius: 8px;
}
 /* Header Style End*/
/* Banner Style */
.imgBanner{
    width: 100%;
}
/* Banner Style End*/
.product-container{
    padding: 0 40px;
}
.productArticle{
    margin: 40px auto;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}
.productArticle img{
    display:block;
    width: 90%;
    padding-top: 40px;
    margin-left: auto;
    margin-right: auto;
}
.informacionProducto{
    border-top: 1px solid #ebebeb;
    padding-top: 15px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}
.iconoEnvio{
    display: block;
    font-size: 16px;
    padding: 5px;
    width: 30px;
    height: 30px;
    color: #39b54a;
    background-color: #fff;
    border: solid 1px #39b54a;
    border-radius: 50%;
    position: absolute;
    right: 20px;
    top: -15px;
}
/* Para que el position absolute funcione, se debe declarar
un position relative al componente padre, para que sirva como "parámetro"
a la hora de utilizar el position absolute. */
.titulares{
    text-align: center;
    font-size: 24px;
}
.precio{
    display: inline;
    font-size: 18px;
}
.descuento{
    display: inline;
    font-size: 16px;
    color: #39b54a;
    padding-left: 8px;
}
.descripciones{
    font-size: 16px;
    padding: 16px 0;
}

.contenidoFooter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.articulosFooter{
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.articulosFooter i{
    color: #135dac;
    font-size: 2em;
    margin-bottom: 10px;
}
.articulosFooter h3{
    font-size: 16px;
    font-weight: 500;
    
}
.articulosFooter p{
    font-size: 12px;
    
}
.copyright h3{
    font-size: 12px;
    font-weight: normal;
}
/* Formularios Register*/

.form{
    margin: 20px;
}
.formContainer label{
    font-size: 16px;
    font-weight: bold;
}
.formContainer p{
    position: relative;
    top: -16px;
    color: red;
}
.formContainer input{
    margin: 8px 0 16px 0;
    display: block;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 32px;
}
.formContainerRadio{
    margin: 8px 0 16px 0;
}
.formRadioTitle{
    display: block;
    margin-bottom: 16px;
}
.radio{
    margin: 0 16px;
}
.formContainerCheckbox div{
    padding-bottom: 20px;
}
.titleCheckbox{
    font-size: 16px;
    font-weight: bold;
    display: block;
    padding-bottom: 16px;
}
.checkbox{
    margin: 8px;
}

.formContainer button{
    background-color: #1259c3;
    color: white;
    padding: 8px;
    margin-right: 16px;
    border: none;
    border-radius: 5px;
}

/* Formulario Login */
.formLogin{
    max-width: 70%;
    margin: auto;
}
.formContainerLogin label{
    display: block;
}
.formContainerLogin input{
    margin: 8px 0 16px 0;
    display: block;
    border: none;
    border-radius: 3px;
    width: 100%;
    height: 32px;
}
.formContainerLogin button{
    border: none;
    background-color: #1259c3;
    color: white;
    padding: 8px;
    width: 100%;
    border-radius: 5px;
}
