@media screen and (min-width: 1200px){
    .headerTop{
        max-width: 1200px;
        margin: auto;
    }
    .productArticle img{
        width: 20vw;
        padding: 40px;
    }
    .descripciones{
        display: none;
        transition: display 450ms;
    }
    .descripciones:hover{
        opacity: 1;
    }
    /* Footer */
    .contenidoFooter{
        display: flex;
        justify-content: space-evenly;
        flex-wrap: nowrap;
    }
    .productArticle:hover .descripciones{
        opacity: 1;
    }
    .productArticle:hover .descripciones{
        display: block;
    }
}